<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<types>
	<type name="EyeMask_Black">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="EyeMask_Blue">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="EyeMask_Christmas">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="SeasonalEvent"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="EyeMask_Dead">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="SeasonalEvent"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="EyeMask_NewYears">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="EyeMask_Red">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<usage name="SeasonalEvent"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="EyeMask_Valentines">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="EyeMask_Yellow">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<usage name="SeasonalEvent"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="MimeMask_Female">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="MimeMask_Male">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	
	<type name="PaydayMask_Chains">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="PaydayMask_Dallas">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="PaydayMask_Hoxton">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="PaydayMask_Wolf">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	
	<type name="CrookedNose">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="1"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="SeasonalEvent"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	
	<type name="FireworksLauncher">
		<nominal>2</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>2</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="tools"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	
	<type name="Megaphone">
		<nominal>10</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>10</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="tools"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Military"/>
		<usage name="Police"/>
		<usage name="Town"/>
		<usage name="Village"/>
		<usage name="Prison"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	
	<type name="GreatHelm">
		<nominal>3</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>3</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Historical"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="NorseHelm">
		<nominal>3</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>3</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Historical"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="Chestplate">
		<nominal>3</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>3</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
		<usage name="Historical"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="Chainmail">
		<nominal>3</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>3</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
		<usage name="Historical"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="Chainmail_Coif">
		<nominal>3</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>3</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
		<usage name="Historical"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="Chainmail_Leggings">
		<nominal>3</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>3</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
		<usage name="Historical"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="MedievalBoots">
		<nominal>3</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>3</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
		<usage name="Historical"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="Sword">
		<nominal>4</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>4</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
		<usage name="Historical"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>

	<type name="WitchHoodCoif_Black">
		<nominal>3</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>3</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="1" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="WitchHoodCoif_Brown">
		<nominal>3</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>3</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="1" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="WitchHoodCoif_Red">
		<nominal>3</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>3</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="1" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	
	<type name="PumpkinHelmet">
		<nominal>1</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>1</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
		<value name="Tier2"/>
		<value name="Tier3"/>
	</type>
	
	<type name="SantasBeard">
		<nominal>2</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>2</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="SeasonalEvent"/>
		<value name="Tier1"/>
		<value name="Tier2"/>
		<value name="Tier3"/>
	</type>
	<type name="SantasHat">
		<nominal>2</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>2</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="SeasonalEvent"/>
		<value name="Tier1"/>
		<value name="Tier2"/>
		<value name="Tier3"/>
	</type>
	
	<type name="WitchHat">
		<nominal>2</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>2</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="1"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="SeasonalEvent"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="WitchHood_Black">
		<nominal>2</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>2</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="1"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="SeasonalEvent"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="WitchHood_Brown">
		<nominal>2</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>2</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="1"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="SeasonalEvent"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="WitchHood_Red">
		<nominal>2</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>2</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="1"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="SeasonalEvent"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	<type name="Cauldron">
		<nominal>5</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>5</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="1"/>
		<category name="tools"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="SeasonalEvent"/>
		<usage name="Lunapark"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
	
	<!-- Tactical Flava Mod -->
	<type name="TF_Foil_hat">
		<nominal>15</nominal>
		<lifetime>7200</lifetime>
		<restock>3600</restock>
		<min>15</min>
		<quantmin>-1</quantmin>
		<quantmax>-1</quantmax>
		<cost>100</cost>
		<flags count_in_cargo="0" count_in_hoarder="0" count_in_map="1" count_in_player="0" crafted="0" deloot="0"/>
		<category name="clothes"/>
		<tag name="floor"/>
		<tag name="ground"/>
        <tag name="shelves"/>
		<tag name="civilian"/>
		<usage name="Lunapark"/>
		<usage name="Prison"/>
		<usage name="School"/>
		<value name="Tier1"/>
        <value name="Tier2"/>
        <value name="Tier3"/>
	</type>
</types>